
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
a {
	background-color: transparent
}
a:active, a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: 700
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	box-sizing: content-box;
	height: 0
}
pre {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input {
	line-height: normal
}
input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
height:auto
}
input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: 700
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}
html {
	font-size: 62.5%;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	-webkit-font-smoothing: antialiased
}
body {
	font-size: 1.5rem;
	color: #4b5c65;
	background-color: #fbfbfb
}

@media screen and (min-width:62.5625em) {
body {
	font-size: 1.6rem
}
}
a {
	color: inherit;
	text-decoration: inherit
}
body, div, footer, h1, h2, header, html, input, nav, p, section, textarea {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
.ActivityIndicator {
	width: 100%;
	height: 100%
}
.ContentAlert {
	padding-top: 5%;
	text-align: center
}
.ContentAlert-Icon {
	width: 80px;
	height: 80px
}
.ContentAlert-Title {
	padding-top: 40px;
	font-size: 2.8rem;
	font-weight: 700
}
.ContentAlert-Content {
	max-width: 533px;
	padding-top: 20px;
	display: inline-block
}
.ContentAlert-Button {
	padding-top: 60px
}
.OrderSummary {
	width: 100%;
	padding: 25px 30px;
	background-color: #fff;
	border: 1px solid #d3dee5
}

@media screen and (min-width:48em) {
.OrderSummary {
	max-width: 441px;
	width: 441px
}
}

@media screen and (min-width:71.25em) {
.OrderSummary {
	max-width: 100%
}
}
.OrderSummary-Container {
	width: 100%;
	padding-right: 15px;
	float: right;
	position: relative
}

@media screen and (min-width:48em) {
.OrderSummary-Container {
	width: 50%
}
}

@media screen and (min-width:62.5625em) {
.OrderSummary-Container {
	padding-right: 27px
}
}

@media screen and (min-width:71.25em) {
.OrderSummary-Container {
	width: 441px;
	max-width: 100%
}
.OrderSummary-Container .Absolute {
	position: absolute;
	top: auto
}
.OrderSummary-Container .Fixed {
	position:relative;
	top: 20px
}
}
.OrderSummary-Title {
	font-size: 1.8rem;
	font-weight: 700;
	color: #6b7a85
}
.OrderSummary-Subtitle {
	padding-top: 20px;
	padding-bottom: 3px
}
.OrderSummary-Item {
	padding-top: 8px;
	line-height: 2rem
}
.OrderSummary-Item-Price, .OrderSummary-Item-Total {
	font-weight: 700;
	float: right
}
.OrderSummary-Item-Total {
	color: #1eb8b4;
	font-size: 2rem
}
.OrderSummary-Spacer {
	padding: 30px 0
}
.OrderSummary-Separator {
	width: 100%;
	height: 1px;
	background-color: #d3dee5
}
.OrderSummary-Discount-Input {
	padding-right: 120px
}
.OrderSummary-Discount-Button {
	text-align: right;
	margin-top: -77px;
	margin-bottom: 25px
}
.OrderSummary-Discount-ActivityIndicator {
	width: 23px;
	height: 23px;
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 8px;
	display: inline-block
}
.PayPalInfo {
	width: 100%;
	height: 200px;
	padding: 40px 0;
	margin-bottom: 40px;
	background-color: #fff;
	border: 1px solid #d3dee5;
	text-align: center
}
.PayPalInfo-Image {
	width: 159px;
	height: 55px
}
.PayPalInfo-Description {
	padding-top: 20px
}
.Rotating {
	-webkit-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite
}
@-webkit-keyframes rotating {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
-webkit-transform:rotate(1turn);
transform:rotate(1turn)
}
}
@keyframes rotating {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
-webkit-transform:rotate(1turn);
transform:rotate(1turn)
}
}
.DarkBackground {
	background-color: #e8e8e8
}
.Gradient-Blue {
	background-image: -webkit-linear-gradient(315deg, #9ccff6, #104378);
	background-image: linear-gradient(135deg, #9ccff6, #104378)
}
.Gradient-Red {
	background-image: -webkit-linear-gradient(315deg, #f5a8b2, #bd0200);
	background-image: linear-gradient(135deg, #f5a8b2, #bd0200)
}
.Gradient-Yellow {
	background-image: -webkit-linear-gradient(315deg, #fde7b8, #cd9100);
	background-image: linear-gradient(135deg, #fde7b8, #cd9100)
}
.Gradient-Green {
	background-image: -webkit-linear-gradient(315deg, #cafaac, #1a9324);
	background-image: linear-gradient(135deg, #cafaac, #1a9324)
}
.Gradient-Purple {
	background-image: -webkit-linear-gradient(315deg, #fdc6fb, #5b0e43);
	background-image: linear-gradient(135deg, #fdc6fb, #5b0e43)
}
.Gradient-Orange {
	background-image: -webkit-linear-gradient(315deg, #ffd7b8, #cd6200);
	background-image: linear-gradient(135deg, #ffd7b8, #cd6200)
}
.Gradient-Teal {
	background-image: -webkit-linear-gradient(315deg, #baf6fb, #40cbb0);
	background-image: linear-gradient(135deg, #baf6fb, #40cbb0)
}
.Gradient-Pink {
	background-image: -webkit-linear-gradient(315deg, #fcd8fd, #e169db);
	background-image: linear-gradient(135deg, #fcd8fd, #e169db)
}
.Gradient-White {
	background-image: -webkit-linear-gradient(315deg, #fff, #e9e9e9);
	background-image: linear-gradient(135deg, #fff, #e9e9e9)
}
.Gradient-Black {
	background-image: -webkit-linear-gradient(315deg, #646464, #000);
	background-image: linear-gradient(135deg, #646464, #000)
}
.LightBackground {
	background-color: #fbfbfb
}
.Red {
	color: #f1555f!important
}
.Red:focus, .RedWithBorder {
	border: 1px solid #f1555f!important
}
.RedWithBorder {
	color: #f1555f!important
}
.Teal {
	color: #1eb8b4!important
}
.Teal:focus {
	border: 1px solid #1eb8b4!important
}
.BorderedButton, .WhiteBackground {
	background-color: #fff
}
.GrayBackground{background-color:#fbfbfb;}
.BorderedButton {
	height: 41px;
	padding: 0 26px;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 41px;
	color: #4b5c65;
	border: 1px solid #6b7a85;
	border-radius: 4px;
	display: inline-block;
	-webkit-transition: background-color .3s, color .3s, border .3s;
	transition: background-color .3s, color .3s, border .3s;
	cursor: pointer
}
.BorderedButton:hover {
	color: #fff;
	background-color: #1eb8b4;
	border: 1px solid #1eb8b4
}
.BorderedButton-Disabled {
	cursor: not-allowed
}
.BorderedButton-Disabled, .BorderedButton-Disabled:hover {
	color: #d3dee5;
	border: 1px solid #d3dee5
}
.Button {
	height: 50px;
	padding: 0 30px;
	font-weight: 700;
	line-height: 50px;
	color: #fff;
	background-color: #ef5289;
	border-radius: 100px;
	display: inline-block;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	cursor: pointer
}

@media screen and (min-width:62.5625em) {
.Button {
	padding: 0 60px
}
}
.Button:hover {
	background-color: #cd3369
}
.Button-Disabled {
	cursor: not-allowed
}
.Button-Disabled, .Button-Disabled:hover {
	background-color: #d3dee5
}
.Button-Container {
	padding-top: 40px;
	padding-right: 15px;
	text-align: center;
	clear: both
}

@media screen and (min-width:62.5625em) {
.Button-Container {
	padding-top: 65px;
	padding-right: 27px
}
}
.SideMenu {
	width: 200px;
	margin-right: 120px;
	display: none;
	float: left
}

@media screen and (min-width:62.5625em) {
.SideMenu {
	display: block
}
}
.SideMenu-List {
	padding: 0;
	margin: 0;
	border-right: 1px solid #d3dee5
}
.SideMenu-List-Item {
	padding: 0;
	padding-right: 27px;
	margin: 0;
	margin-right: -2px;
	margin-bottom: 20px;
	color: #9fb0bc;
	line-height: 27px;
	-webkit-transition: color .3s;
	transition: color .3s;
	cursor: pointer
}
.SideMenu-List-Item:hover {
	color: #6b7a85
}
.SideMenu-Selected {
	color: #4b5c65;
	border-right: 3px solid #1eb8b4
}
.StepsProgress {
	height: 70px;
	text-align: center
}

@media screen and (min-width:62.5625em) {
.StepsProgress {
	height: 90px;
	padding-bottom: 36px
}
}
.StepsProgress-Container {
	display: inline-block
}
.StepsProgress-TealBackground {
	background-color: #1eb8b4
}
.StepsProgress-DarkBackground {
	background-color: #515e64
}
.StepsProgress-LightBackground {
	background-color: #9fb0bc
}
.StepsProgress-Number {
	width: 25px;
	height: 25px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	font-weight: 700;
	font-size: 1.2rem;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block
}
.StepsProgress-Number-Container {
	float: left
}
.StepsProgress-Line {
	width: 25px;
	height: 5px
}

@media screen and (min-width:30em) {
.StepsProgress-Line {
	width: 60px
}
}

@media screen and (min-width:48em) {
.StepsProgress-Line {
	width: 120px
}
}

@media screen and (min-width:71.25em) {
.StepsProgress-Line {
	width: 160px
}
}
.StepsProgress-Line-Container {
	padding: 10px 4px;
	float: left
}
.StepsProgress-LongLine {
	width: 80px;
	height: 5px
}

@media screen and (min-width:30em) {
.StepsProgress-LongLine {
	width: 120px
}
}

@media screen and (min-width:48em) {
.StepsProgress-LongLine {
	width: 200px
}
}

@media screen and (min-width:71.25em) {
.StepsProgress-LongLine {
	width: 340px
}
}
.StepsProgress-Circle {
	width: 13px;
	height: 13px;
	background-color: #515e64;
	border-radius: 50%
}
.StepsProgress-Circle-Container {
	padding: 6px 0;
	float: left
}
.Checkbox {
	width: 21px;
	height: 21px;
	margin-right: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	float: left;
	cursor: pointer
}
.Checkbox:checked {
	background-image: url("../img/checkbox-checked.svg");
	background-repeat: no-repeat;
	background-position: 50%
}
.Checkbox-Container {
	padding-top: 15px;
	padding-bottom: 16px
}
.ExpirationInput {
	width: 100%;
	height: 52px
}
.ExpirationInput-Month {
	width: 40%;
	float: left
}
.ExpirationInput-Slash {
	padding-top: 17px;
	text-align: center
}
.ExpirationInput-Year {
	width: 40%;
	float: right
}
.FileInput {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer
}
.FileInput:before {
	width: 100%;
	height: 100%;
	content: '';
	display: block
}
.FileInput-Container {
	width: 100%;
	height: 52px;
	margin-bottom: 12px;
	position: relative;
	overflow: hidden
}
.FileInput-Text {
	padding: 15px;
	color: #1eb8b4
}
.FileInput-Placeholder {
	padding: 15px;
	color: #9fb0bc
}
.FileInput-Image {
	width: 20px;
	height: 20px;
	margin: 15px;
	float: right
}
.FileInput-Uploaded {
	padding-bottom: 32px;
	font-size: 1.6rem;
	line-height: 32px;
	color: #6b7a85
}
.FileInput-Uploaded-LeftImage {
	width: 14px;
	height: 20px;
	margin-top: 6px;
	margin-right: 16px;
	float: left
}
.FileInput-Uploaded-RightImage {
	width: 32px;
	height: 32px;
	margin-left: 16px;
	cursor: pointer;
	float: right
}
.FileInput-Uploaded-Delete {
	margin-right: 2px;
	color: #f1555f;
	font-weight: 700;
	font-size: 1.2rem;
	cursor: pointer;
	float: right
}
.Input {
	width: 100%;
	height: 52px;
	padding: 15px
}
.Input-Footnote {
	padding-top: 8px;
	font-size: 1.5rem;
	font-style: italic;
	color: #9fb0bc
}
.Input-CreditCards {
	padding-top: 20px
}
.Input-Icon {
	width: 30px;
	height: 20px;
	margin-right: 5px;
	display: inline-block
}
.InputBorder {
	border-radius: 4px;
	border: 1px solid #9fb0bc;
	-webkit-transition: border .3s;
	transition: border .3s;
	color: #4b5c65;
	background-color: #fff;
	outline: none
}
.InputBorder:hover {
	border: 1px solid #4b5c65
}
.InputBorder::-webkit-input-placeholder {
color:#9fb0bc
}
.InputBorder::-moz-placeholder {
color:#9fb0bc
}
.InputBorder:-ms-input-placeholder {
color:#9fb0bc
}
.InputBorder:-moz-placeholder {
color:#9fb0bc
}
.InputContainer {
	padding-bottom: 30px
}
.InputContainer-Title {
	padding-bottom: 12px;
	font-weight: 700;
	-webkit-transition: color .3s;
	transition: color .3s
}
.InputContainer-Title-Caps {
	font-size: 1.6rem
}
.InputContainer-Teal {
	color: #1eb8b4
}
.InputContainer-Red {
	color: #f1555f
}
.Radio {
	width: 21px;
	height: 21px;
	margin-right: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	float: left;
	border-radius: 50%;
	cursor: pointer
}
.Radio:checked {
	background-image: url("../img/radio-checked.svg");
	background-repeat: no-repeat;
	background-position: 50%
}
.Radio-Container {
	padding-top: 15px;
	padding-bottom: 16px
}
.Radio-Description {
	padding-right: 11px;
	float: left
}
.Radio-Image {
	float: left
}
.Select {
	width: 100%;
	height: 52px;
	padding: 15px;
	padding-right: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	background-image: url("../img/dropdown.svg");
	background-repeat: no-repeat;
	background-position: right 15px center
}
.TextArea {
	width: 100%;
	height: 160px;
	padding: 15px;
	resize: none
}

@media screen and (min-width:48em) {
.TextArea {
	height: 240px
}
}
.CenterContainer {
	text-align: center
}
.CenterContainer-Container {
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 100%
}
.Clear {
	clear: both
}
.Header {
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 15px 20px;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(159,176,188,.5)
}

@media screen and (min-width:62.5625em) {
.Header {
	height: 70px;
	padding: 15px 5%
}
}
.Header-Logo {
	height: 40px;
}
.Header-Call {
	float: right;
	display: none
}

@media screen and (min-width:48em) {
.Header-Call {
	display: block;
	padding-top:12px;
}
}
.Header-Call-Number {
	color: #f1555f
}
.HeaderBackground {
	border-bottom: 1px solid #dadfe2;
	background: url("../img/header.svg");
	background-repeat: no-repeat;
	background-position: 100%;
	background-color: #fff
}
.Hidden {
	visibility: hidden
}
.LargeLeftHalf {
	width: 100%;
	float: left
}

@media screen and (min-width:71.25em) {
.LargeLeftHalf {
	width: 50%;
	padding-right: 27px
}
}
.LargeRightHalf {
	width: 100%;
	float: right
}

@media screen and (min-width:71.25em) {
.LargeRightHalf {
	width: 50%
}
}
.LeftHalf {
	width: 100%;
	padding-right: 15px;
	float: left
}

@media screen and (min-width:48em) {
.LeftHalf {
	width: 50%;
	padding-right: 8%
}
}
.RightHalf {
	width: 100%;
	padding-right: 15px;
	float: right
}

@media screen and (min-width:48em) {
.RightHalf {
	width: 50%;
	padding-right: 8%
}
}
.Separator {
	height: 1px;
	padding-top: 27px;
	padding-bottom: 40px;
	clear: both
}

@media screen and (min-width:62.5625em) {
.Separator {
	padding-bottom: 65px
}
}
.Separator-Line {
	height: 1px;
	background-color: #abb6be
}
.SmallLeftHalf {
	width: 100%;
	float: left
}

@media screen and (min-width:48em) {
.SmallLeftHalf {
	width: 50%;
	padding-right: 27px
}
}
.SmallRightHalf {
	width: 100%;
	float: right
}

@media screen and (min-width:48em) {
.SmallRightHalf {
	width: 50%
}
}
.Spacer {
	height: 27px;
	clear: both
}
.Third {
	width: 100%;
	padding-right: 15px;
	padding-bottom: 15px;
	float: left
}

@media screen and (min-width:48em) {
.Third {
	width: 33%;
	max-width: 347px
}
}

@media screen and (min-width:62.5625em) {
.Third {
	padding-right: 27px;
	padding-bottom: 27px
}
}
.Tooltip {
	position: absolute;
	-webkit-transform: translate(-50%, 15px);
	transform: translate(-50%, 15px);
	visibility: hidden;
	-webkit-transition: visibility .2;
	transition: visibility .2;
	z-index: 1
}
.Tooltip__trigger:hover .Tooltip {
	visibility: visible
}
.Tooltip__label {
	background: #fff;
	padding: 15px 25px;
	box-shadow: 0 0 8px 0 hsla(205,5%,49%,.56);
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 1.21em;
	color: #6b7a85;
	position: relative;
	left: 11px;
	white-space: nowrap
}
.Tooltip__label:after {
	box-shadow: 0 0 8px 0 hsla(205,5%,49%,.56);
	z-index: -1
}
.Tooltip__label:after, .Tooltip__label:before {
	content: '';
	background: #fff;
	display: block;
	height: 14px;
	width: 14px;
	-webkit-transform: rotate(45deg) translate(-25%, 25%);
	transform: rotate(45deg) translate(-25%, 25%);
	top: -6px;
	left: 50%;
	position: absolute
}
.Tooltip__label:before {
	z-index: 1
}
.Tooltip--small {
	-webkit-transform: translate(-50%, 21px);
	transform: translate(-50%, 21px)
}
.Tooltip--small .Tooltip__label {
	left: 5px
}
.ConfirmedModal {
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: table
}
.ConfirmedModal-Container {
	width: 100%;
	height: 100%;
	padding: 10%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(32,42,48,.9)
}

@media screen and (min-width:62.5625em) {
.ConfirmedModal-Container {
	padding: 10% 20%
}
}
.ConfirmedModal-Content {
	padding: 10%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 1.7rem
}
.ConfirmedModal-Image {
	width: 88px;
	height: 88px;
	padding-bottom: 40px
}
.ConfirmedModal-Title {
	font-size: 2.8rem;
	font-weight: 700;
	padding-bottom: 20px
}
.ConfirmedModal-Button {
	padding-top: 50px
}

.ProcessingModal {
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: table
}
.ProcessingModal-Container {
	width: 100%;
	height: 100%;
	padding: 10%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(32,42,48,.9)
}

@media screen and (min-width:62.5625em) {
.ProcessingModal-Container {
	padding: 10% 20%
}
}
.ProcessingModal-Content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 2.2rem
}
.ProcessingModal-ActivityIndicator {
	width: 88px;
	height: 88px;
	margin-bottom: 30px;
	display: inline-block
}
.WebPage {
	padding-top: 70px
}

@media screen and (min-width:62.5625em) {
.WebPage {
	padding-top: 100px
}
}
.CategoriesSection {
	padding: 40px 30px;
	padding-right: 3px;
	border-bottom: 1px solid #dadfe2;
	clear: both;
}

@media screen and (min-width:62.5625em) {
.CategoriesSection {
	padding: 65px 8%
}
}
.HeaderSection {
	padding: 50px 30px
}

@media screen and (min-width:62.5625em) {
.HeaderSection {
	padding: 50px 8%
}
}
.Section {
	padding: 40px 30px;
	padding-right: 15px;
	clear: both
}

@media screen and (min-width:62.5625em) {
.Section {
	padding: 65px 8%
}
}
.SectionSeparator {
	height: 1px;
	padding: 0 30px;
	clear: both
}

@media screen and (min-width:62.5625em) {
.SectionSeparator {
	padding: 0 8%
}
}
.SectionSeparator-Line {
	height: 1px;
	background-color: #abb6be
}
.BrandItem {
	width: 100%;
	height: 540px;
	padding: 52px 10%;
	text-align: center;
	background-color: #fff;
	position: relative
}
.BrandItem-Image {
	width: 150px;
	height: 150px;
	margin-bottom: 39px
}
.BrandItem-Title {
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 5px
}
.BrandItem-Subtitle {
	font-size: 1.4rem;
	padding-bottom: 15px
}
.BrandItem-Button {
	width: 100%;
	height: 50px;
	font-weight: 700;
	line-height: 50px;
	color: #fff;
	background-color: #ef5289;
	border-radius: 100px;
	text-align: center
}
.BrandItem-Button-Container {
	width: 100%;
	padding: 0 20%;
	position: absolute;
	left: 0;
	bottom: 48px
}
.CategoryItem {
	width: 100%;
	height: 100%;
	padding: 20px 30px;
	background-color: #fff;
	cursor: pointer
}
.CategoryItem-Container {
	width: 100%;
	height: 267px;
	padding-right: 27px;
	padding-bottom: 27px;
	float: left
}

@media screen and (min-width:30em) {
.CategoryItem-Container {
	width: 280px
}
}
.CategoryItem-Image {
	width: 60px;
	height: 60px
}
.CategoryItem-Title {
	padding-top: 14px;
	font-size: 1.8rem;
	font-weight: 700
}
.CategoryItem-Subtitle {
	padding-top: 4px;
	font-size: 1.4rem
}
.CategoryItem-Description {
	padding-top: 10px;
	font-size:1.4rem
}
.Checkmark, .ChoiceItem {
	width: 100%;
	height: 100%
}
.ChoiceItem {
	background-color: #fff
}
.ChoiceItem-Container {
	width: 33%;
	max-width: 253px;
	padding-right: 15px;
	padding-bottom: 15px;
	display: inline-block
}

@media screen and (min-width:62.5625em) {
.ChoiceItem-Container {
	padding-right: 27px;
	padding-bottom: 27px
}
}
.ChoiceItem-Bottom, .ChoiceItem-Top {
	width: 100%;
	height: 100%
}
.ChoiceItem-Top {
	position: relative;
	top: -100%;
	left: 0
}
.ChoiceItem-Checkmark {
	width: 32px;
	height: 32px;
	position: absolute;
	bottom: 5px;
	right: 5px
}

@media screen and (min-width:48em) {
.ChoiceItem-Checkmark {
	bottom: 20px;
	right: 20px
}
}
.PackageItem {
	width: 100%;
	height: 490px;
	background-color: #fff
}
.PackageItem-Container {
	width: 100%;
	padding-top: 27px;
	padding-right: 15px;
	padding-bottom: 27px;
	float: left
}
.PackageItem-Container:last-of-type {
	padding-bottom: 65px
}

@media screen and (min-width:48em) {
.PackageItem-Container {
	width: 33%;
	padding-right: 27px;
	padding-bottom: 65px
}
.PackageItem-Container:last-of-type {
	padding-right: 15px
}
}
.PackageItem-Header {
	height: 100px;
	position: relative
}
.PackageItem-Star {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%
}
.PackageItem-Star-Container {
	width: 100%;
	height: 80px;
	position: absolute;
	top: -40px;
	left: 0
}
.PackageItem-Star-Image {
	width: 100%;
	height: 100%
}
.PackageItem-Silver {
	background-color: #9fb0bc
}
.PackageItem-Gold {
	background-color: #f2b835
}
.PackageItem-Platinum {
	background-color: #6b7a85
}
.PackageItem-Name {
	padding: 36px 20px;
	font-size: 2.4rem;
	color: #fff
}

@media screen and (min-width:71.25em) {
.PackageItem-Name {
	padding: 33px 20px;
	font-size: 2.8rem
}
}
.PackageItem-Price {
	font-weight: 700;
	float: right
}
.PackageItem-Feature {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #dadfe2;
	color: #4b5c65;
	display: table
}
.PackageItem-Feature-Content {
	padding: 0 20px;
	display: table-cell;
	text-align: center;
	vertical-align: middle
}
.PackageItem-Selection {
	padding-top: 29px;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700
}
.PackageItem-Circle {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 17px
}
.PackageItem-Circle-Border {
	border: 2px solid #9fb0bc
}
.Selectable {
	box-shadow: 0 0 0 1px #dadfe2;
	-webkit-transition: box-shadow .3s;
	transition: box-shadow .3s;
	cursor: pointer
}
.Selectable:hover {
	box-shadow: 0 0 8px 0 rgba(75,92,101,.56);
	cursor: pointer
}
.Selectable-Selected {
	box-shadow: 0 0 18px 0 rgba(75,92,101,.56);
	cursor: pointer
}
.SelectionItem {
	width: 100%;
	height: 100px;
	padding-right: 15px;
	margin-bottom: 50px;
	float: left
}

@media screen and (min-width:30em) {
.SelectionItem {
	width: 50%
}
}

@media screen and (min-width:62.5625em) {
.SelectionItem {
	height: 160px;
	padding-right: 27px;
	margin-bottom: 27px
}
}
.SelectionItem:last-of-type {
	margin-bottom: 50px
}

@media screen and (min-width:62.5625em) {
.SelectionItem:last-of-type {
	margin-bottom: 65px
}
}
.SelectionItem-Container {
	height: 100%;
	display: table
}
.SelectionItem-TextContainer {
	display: table-cell;
	vertical-align: middle
}
.SelectionItem-Title {
	font-size: 1.6rem;
	font-weight: 700
}

@media screen and (min-width:62.5625em) {
.SelectionItem-Title {
	font-size: 2rem
}
}
.SelectionItem-Description {
	padding-top: 1px
}
.SmallItem {
	width: 100px;
	height: 100px;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: #fff;
	float: left
}

@media screen and (min-width:62.5625em) {
.SmallItem {
	width: 160px;
	height: 160px;
	margin-right: 27px;
	margin-bottom: 27px
}
}
.SmallItem-Bottom, .SmallItem-Top {
	width: 100%;
	height: 100%
}
.SmallItem-Top {
	position: relative;
	top: -100%;
	left: 0
}
.SmallItem-Checkmark {
	width: 32px;
	height: 32px;
	position: absolute;
	bottom: 5%;
	right: 5%
}
.CategoryDescription {
	padding-bottom: 40px
}

@media screen and (min-width:62.5625em) {
.CategoryDescription {
	width: 50%;
	padding-bottom: 50px
}
}

@media screen and (min-width:62.5625em) {
.Description {
	width: 50%
}
}
.Subtitle {
	padding-bottom: 20px;
	font-size: 1.8rem;
	font-weight: 700
}

@media screen and (min-width:62.5625em) {
.Subtitle {
	padding-bottom: 30px;
	font-size: 2.8rem
}
}
.TextLink {
	padding-right: 15px;
	color: #ef5289;
	font-weight: 700;
	text-decoration: underline;
	display: inline-block;
	cursor: pointer
}

@media screen and (min-width:62.5625em) {
.TextLink {
	padding-right: 27px
}
}
.Title {
	padding-bottom: 10px;
	font-size: 2.2rem;
	font-weight: 700
}

@media screen and (min-width:62.5625em) {
.Title {
	font-size: 3.2rem
}
}
.price{font-weight:700;font-size:16px;color:#FFA500;padding-right:2px;}
